<strong>Ol치, {{ provider }}</strong>
<p>Houve um canlamento de hor치rio. Veja os detalhe abaixo:</p>
<p>
  <strong>Cliente:</strong> {{ user }} </p> <br />
  <strong>Data/Hora:</strong> {{ date }} <br />
  <br />
  <small>O hor치rio est치 novamente diponiveol para novos agendamentos.</small>
</p>